@import "prismjs/themes/prism-tomorrow.css";
@import "tailwindcss";

/* Animations supprimées pour l'optimisation mobile */

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .font-montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
  }

  .font-inter {
    font-family: "Inter", sans-serif;
  }

  .font-inter-light {
    font-family: "Inter", sans-serif;
    font-weight: 300;
  }

  .font-inter-regular {
    font-family: "Inter", sans-serif;
    font-weight: 400;
  }

  .font-inter-medium {
    font-family: "Inter", sans-serif;
    font-weight: 500;
  }

  .font-inter-semibold {
    font-family: "Inter", sans-serif;
    font-weight: 600;
  }

  .font-inter-bold {
    font-family: "Inter", sans-serif;
    font-weight: 700;
  }

  .font-bricolage-grotesque {
    font-family: "Bricolage Grotesque", sans-serif;
  }

  .font-bricolage-grotesque-light {
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 300;
  }

  .font-bricolage-grotesque-regular {
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 400;
  }

  .font-bricolage-grotesque-medium {
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 500;
  }

  .font-bricolage-grotesque-semibold {
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 600;
  }

  .font-bricolage-grotesque-bold {
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 700;
  }
}

@media (min-width: 1400px) {
  .summary {
    display: block;
  }
}
