@import "tailwindcss";

/* Classes personnalisées pour la police Inter */
.font-inter {
  font-family: 'Inter', sans-serif;
}

.font-inter-light {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

.font-inter-regular {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.font-inter-medium {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.font-inter-semibold {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.font-inter-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}