@keyframes float {
    0% {
        transform: translateY(0px) rotate(6deg);
    }

    50% {
        transform: translateY(-10px) rotate(6deg);
    }

    100% {
        transform: translateY(0px) rotate(6deg);
    }
}

@keyframes float-delayed {
    0% {
        transform: translateY(0px) rotate(-3deg);
    }

    50% {
        transform: translateY(-10px) rotate(-3deg);
    }

    100% {
        transform: translateY(0px) rotate(-3deg);
    }
}

@keyframes float-slow {
    0% {
        transform: translateY(0px) rotate(3deg);
    }

    50% {
        transform: translateY(-15px) rotate(3deg);
    }

    100% {
        transform: translateY(0px) rotate(3deg);
    }
}

.animate-float {
    animation: float 4s ease-in-out infinite;
}

.animate-float-delayed {
    animation: float-delayed 4s ease-in-out infinite;
    animation-delay: 1s;
}

.animate-float-slow {
    animation: float-slow 6s ease-in-out infinite;
}

/* Animation pour la ligne de progression */
.transition-all {
    transition-property: all;
}

.duration-1500 {
    transition-duration: 1500ms;
}

.ease-out {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}